APP_PORT=8080
FRONTEND_URL=http://localhost:5173
BACKEND_URL=http://localhost:8080

DB_HOST=localhost
DB_PORT=3306
DB_NAME=campus_connect
DB_USERNAME=root
DB_PASSWORD=2407

CLERK_ISSUER_URL=https://saved-molly-14.clerk.accounts.dev
CLERK_JWKS_URL=https://saved-molly-14.clerk.accounts.dev/.well-known/jwks.json
CLERK_JWT_KEY="-----BEGIN PUBLIC KEY-----\nMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAwH1xl0lq8ZTnv1Gn2bnP\nqgCmFtauCLCDEnco6T9xSp3LNtPyqVFq81nQ0zxYyPpB9rwMGEpyH7qdksoTr8DK\nqThWii77GrONZQiyTAo86HHgn6J/jlDP5A5YjP/NkImIjxgp3JwGm7Qczi3tRy+e\nmZEWi0FJmTk4OD73tad+fojmcJp90eiUdlwSyPwLrqnyzt4qbDNAqCSJA67wEA3D\nJdTb54C01PW1tO0ul901xbUVsQR53SUOLLsFCxXC7P+A2mi5N/kM8tc08nj9gvXT\nbGOAOlYSq7reYzfSdI9lrWzL+c9hcxcQka4IIQeCGxf4jcCTELgKFPT6BrpMl6Me\npwIDAQAB\n-----END PUBLIC KEY-----"
CLERK_WEBHOOK_SECRET=dummy_secret_for_local_testing
CLERK_ALLOWED_ORIGINS=http://localhost:5173

FILE_STORAGE_MODE=local
FILE_STORAGE_ROOT=./uploads
